@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: #0b0c2a;
    color: white;
    width: 100vw;
}

/* validation form */

.background{
    background: #0b0c2a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0,0,0,0.048), 0 12.8px 10.5px rgba(0,0,0,0.58) ;
    width: 550px;
    max-width: 100%;
}

.header{
    background-color: #090d46;
    padding: 30px 0;
}

.header h2{
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}

.form{
    padding: 40px;
}

.form-control{
    margin-bottom: 30px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px;
    display: block;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: #39df7e;
}

.form-control.error input{
    border-color: #df3434;
}

.form-control i {
    position: absolute;
    right: 12px;
    top: 40px;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form-control small{
    color: #df3434;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    color: #39df7e;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #df3434;
    visibility: visible;
}

.form .btn{
    background: #040622;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    font-size: 16px;
    padding: 15px 0;
    margin-top: 15px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.form .btn:hover{
    background: #c59cd8;
}
/* validation form */

/* Other tools section */
::selection{
    background: rgb(255, 188, 188);
    color: black;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: white;
}

/*Navbar section */

header {
    width: 100%;
    height: 80px;
    background-color: #040622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100;
}
.logo {
    margin-left: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}
.hamburger {
    display: none ;

}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style-type: none;
}
.navbar ul li a {
    display: block;   
    color: #fefefe;
    font-size: 20px;
    padding:  10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.navbar ul li a:hover{
    color: #040622;
    background-color: #fefefe;
}
.navbar ul li a.active{
    color: #040622 ;
    background-color: #fefefe;
}
.navbar ul li a.active:hover {
    color: #fefefe;
    background-color: green;
}

@media only screen and (max-width: 1320px) {
    .header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    .header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background:  #fefefe;
        margin:6px 0;
    }
    .navbar {
        height: 0;
        position: absolute;
        top: 79px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #040622;
        transition: 0.2s;
        overflow: hidden;
    }
    .navbar.active {
        height: 250px;
    }
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar.active ul {
        opacity: 1;
    }
    .navbar ul li a {
        margin-bottom: 12px;
    }
}

/* Navbar section */




 



/* Show section */
#AllBanners{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
#primaryMainContainer{
    /* width: 100%; */
    display: grid;
    grid-template-columns:auto auto;
}
#contentBanners{
    width: 769px;
}

/* Other Banners  */

/* All shows banners  */
#MainContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;

}
#MainContainer1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;

}
#MainContainer2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;

}
#Heading-box{
    display: grid;
    grid-template-columns: auto auto;
    border-left: 5px solid red;
    height: 12%;
    padding: 0 12px;
    align-items: center;
}
#Heading-box2{
    display: grid;
    grid-template-columns: auto auto;
    border-left: 5px solid red;
    height: 12%;
    padding: 0 12px;
    align-items: center;
}
#Heading-box3{
    display: grid;
    grid-template-columns: auto auto;
    border-left: 5px solid red;
    height: 12%;
    padding: 0 12px;
    align-items: center;
}
#Heading-box1{
    display: grid;
    grid-template-columns: auto auto;
    border-left: 5px solid red;
    height: 12%;
    padding: 0 12px;
    align-items: center;
}
.heading{
    font-size: 1.6em;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
    
}
.viewAll {
    font-family: 'Mulish', sans-serif;
    position: relative;
    left: 35%;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    width: 82px;
    
}
#Banners-container{
    margin-top: 19px;
    width: 770px;
    flex-wrap: wrap;
    display: flex;
}
#Banners-container img{
    width: 217px;
    border-radius: 5px;
    margin-right:20px;
    margin-top: 12px;
    cursor: pointer;
}
#Banners-container1{
    margin-top: 19px;
    width: 770px;
    flex-wrap: wrap;
    display: flex;
}
#Banners-container1 img{
    width: 217px;
    border-radius: 5px;
    margin-right:20px;
    margin-top: 12px;
    cursor: pointer;
}
#Banners-container2{
    margin-top: 19px;
    width: 100%;
    max-width: 770px;
    flex-wrap: wrap;
    display: flex;
}
#Banners-container2 img{
    max-width: 217px;
    border-radius: 5px;
    margin-right:20px;
    margin-top: 12px;
    cursor: pointer;
}

.Image-Name{
    position: relative;
    color: white;
    width: 217px;
    padding-right: 30px;
}
.ep{
    background: red;
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 10px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
}
.comments{
    background: rgb(46, 46, 46);
    padding: 2px 8px;
    border-radius: 3px;
    position: absolute;
    top: 300px;
    left: 10px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
}
.watch{
    background: rgb(46, 46, 46);
    padding: 2px 8px;
    position: absolute;
    top: 300px;
    left: 135px;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
}
.content-type{
    display: flex;
    height: 13px;
    margin: 20px 0 10px 0;
}
.action{
    display: flex;
    background: rgb(49, 49, 49);
    border-radius: 17px;
    padding: 6px 3px;
    font-size: 1em;
    font-family: 'Dongle', sans-serif;
    align-items: center;
}
.adventure{
    display: flex;
    background: rgb(49, 49, 49);
    border-radius: 17px;
    padding: 6px 3px;
    font-size: 1em;
    margin-left: 12px;
    font-family: 'Dongle', sans-serif;
    align-items: center;
}
.show-name{
    font-size: 1.4em;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    margin-bottom: 30px;
}
/* Show section */



/* News section */
#LatestNews {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 50px;
}
#LatestNewsSection{
    width: 364px;
    top: 0;
    float: left;
}
.insideLatestNews{
    width: 364px;
}
#Heading-box2{
    display: grid;
    grid-template-columns: auto auto;
    border-left: 5px solid red;
    padding: 0 12px;
    align-items: center;

}
.headingInNews{
    font-size: 1.6em;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
}
.viewAllInNews{
    font-family: 'Mulish', sans-serif;
    position: relative;
    left: 35%;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}
#LatestNewses{
    margin-top: 30px;
}
#ImageOfNews{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews img{
    width: 364px;
    border-radius: 10px;
}
#ImageOfNews1{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews1 img{
    width: 364px;
    border-radius: 10px;
}
#ImageOfNews2{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews2 img{
    width: 364px;
    border-radius: 10px;
}
#ImageOfNews3{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews3 img{
    width: 364px;
    border-radius: 10px;
}
#ImageOfNews4{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews4 img{
    width: 364px;
    border-radius: 10px;
}
#ImageOfNews5{
    margin-top: 16px;
    width: 364px;
    position: relative;
}
#ImageOfNews5 img{
    width: 364px;
    border-radius: 10px;
}

.name{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 1.4em;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.epInNews{
    background: red;
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
}
.watchInNews{
    position: absolute;
    right: 50px;
    top: 10px;
    background: rgb(46, 46, 46);
    padding: 2px 8px;
    position: absolute;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
}
/* responsive */

@media only screen and (max-width:1132px) {
    #contentBanners{
        width: 537px;
        flex-wrap: wrap;
    }
    .Image-Name{
        padding-right: 12px;
        width: 167px;
    }

    #ImageOfNews{
        width: 300px;
    }
    #ImageOfNews img{
        width: 300px;
    }
    #Banners-container{
        width: 537px;
    }
    #Banners-container img{
        width: 167px;
    }
    #Banners-container1{
        width: 537px;
    }
    #Banners-container1 img{
        width: 167px;
    }
    #Banners-container2{
        width: 537px;
    }
    #Banners-container2 img{
        width: 167px;
    }

    .comments{
        top: 231px;
    }
    .watch{
        width: 53px;
        top: 231px;
        left: 91px;
    }


    #LatestNews{
        margin-left: 30px;
    }
    #LatestNewsSection{
        width: 300px;
    }
}
@media only screen and  (max-width:900px){
    #Navbar ul li{
        display: none;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(20, 24, 26);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    #Navbar ul li a{
        margin: 16px 0;
    }
    #Navbar.active {
        left: 0;
    }
    #search{
        display: none;
    }
    .search{
        display: none;
    }

    #contentBanners{
        width: 700px;
        flex-wrap: wrap;
    }


    #primaryMainContainer{

        grid-template-columns:auto ;
        grid-template-rows: auto auto;
    }
    #Banners-container{
        width: 700px;
    }




    .Image-Name{
        padding-right: 12px;
        width: 163px;
    }
}

@media only screen and  (max-width:730px){
    .search{
        right: 49px;
    }
    #contentBanners{
        width: 540px;
        flex-wrap: wrap;
    }
    #Banners-container{
        width: 540px;
    }
}
@media only screen and  (max-width:550px){
    .search{
        right: 16px;
    }
    #contentBanners{
        width: 380px;
        flex-wrap: wrap;
    }
    #Banners-container{
        width: 380px;
    }

    .Image-Name{
        padding-right: 12px;
        width: 178px;
    }
    #Banners-container img{
        width: 182px;
    }
}
@media only screen and  (max-width:400px){
    #other-opt{
        display: none;
    }
    #Menu-Btn{
        display: block;

    }
    #contentBanners{
        width: 300px;
        flex-wrap: wrap;
        margin: auto;
    }
    #Banners-container{
        width: 300px;
        margin: auto;
    }
    .Image-Name{
        padding-right: 12px;
        width: 138px;
    }
    #Banners-container img{
        width: 140px;
    }
    #Heading-box{
        font-size: 0.9em;
    }
    #Heading-box1{
        font-size: 0.9em;
    }
    #Heading-box2{
        font-size: 0.9em;
    }

    .comments{
        top: 195px;
        font-size: 11px;
    }
    .watch{
        width: 44px;
        top: 195px;
        left: 72px;
        font-size: 11px;
    }
    #LatestNews{
        margin-left: 0px;
    }
    #LatestNewsSection{
        width: 270px;
    }
}

@media only screen and  (max-width:310px){
    #contentBanners{
        width: 290px;
        flex-wrap: wrap;
        margin: auto;
    }
    #Banners-container{
        width: 290px;
        margin: auto;
    }

    .Image-Name{
        padding-right: 12px;
        width: 200px;
        margin: 0 auto;
    }
    #Banners-container img{
        width: 200px;
    }

    .comments{
        top: 283px;
        font-size: 15px;
    }
    .watch{
        width: 55px;
        top: 283px;
        left: 119px;
        font-size: 15px;
    }
    .viewAllInNews{
        max-width: 83px;
    }
}